[credential]
  helper = store
[user]
  name = ewarchul
  email = ewarchul@gmail.com
[alias]
  co = checkout
  cb = checkout -b
  st = status
  po = push origin
  publish = push -u origin HEAD
  last = log -1 HEAD
  undo = reset --soft HEAD~1
